@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&family=Ubuntu");

html {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Source Sans Pro", "Ubuntu", sans-serif !important;
  padding: 0%;
  margin: 0% !important;
  background-color: #212c42;
  color: white;
}

.modal-content {
  background-color: #161e2d;
  border: 1px solid white;
  color: white;
}
.modal-header {
  color: white;
  border-bottom: 1px solid white;
}
button:focus {
  border: 1px solid transparent !important;
}
.neutral {
  background-color: #454e60;
}
.neutral:focus {
  background-color: #454e60;
}
.neutral:hover {
  background-color: #454e6087;
}
.game-body {
  border-radius: 10px;
  border: 1px solid #ececec;
  min-height: calc(100vh - 50px);
  background-color: #727c92;
  overflow-x: auto;
  overflow-y: hidden;
}
.logo {
  max-height: 65px;
}
.danger {
  color: #eb0037;
}
.thm-bg-dark {
  background-color: #151c2b;
}
.thm-text-success {
  color: #a3ea2a;
}

div#stack div:nth-child(1) {
  background-color: #719cf9;
}

div#stack div:nth-child(2) {
  background-color: #719cf9;
}

div#stack div:nth-child(3) {
  background-color: #1153e4;
}

div#stack div:nth-child(4) {
  background-color: #673a91;
}

div#stack div:nth-child(5) {
  background-color: #9f00ff;
}

div#stack div:nth-child(6) {
  background-color: #9f00ff;
}

div#stack div:nth-child(7) {
  background-color: #f4f4f4;
}

div#stack div {
  min-height: 60px;
  border-top: 1px dotted white;
  border-left: 1px dotted white;
  border-right: 1px dotted white;
  display: flex;
  justify-content: end;
}

div#stack div i {
  display: none;
  color: #3bc81e;
  font-size: 20px;
  padding: 4px 2px;
}

div#stack div.correct i {
  display: block;
}

div#stack-pointers div {
  min-height: 60px;
  text-align: center;
  border-top: 1px dotted #719cf9;
  border-left: 1px dotted #719cf9;
  border-right: 1px dotted #719cf9;
  background-color: #fff;
}

div#stack div.stack-space {
  position: relative;
  background-color: #d4d8df;
  text-align: center;
  color: #9f00ff;
}

.stack-piece.correct {
  background: transparent;
  color: #a3ea2a !important;
  font-weight: 700;
}

.stack-piece-arrow.correct {
  background: transparent;
  color: #a3ea2a !important;
  font-weight: 700;
}

div#stack-pointers .correct {
  background: #223654;
  border-top: 1px dotted #a3ea2a;
  border-left: 1px dotted #a3ea2a;
  border-right: 1px dotted #a3ea2a;
}

div#stack div.correct {
  background: #223654;
  border-top: 1px dotted #a3ea2a;
  border-left: 1px dotted #a3ea2a;
  border-right: 1px dotted #a3ea2a;
}

.stack-piece-arrow.correct:hover,
.stack-piece.correct:hover {
  border: 1px solid transparent;
}
.cursor-pointer {
  cursor: pointer;
}
.dot-border-bottom {
  border-bottom: 1px dotted white;
}
